
#zebra-h tr:nth-child(even) {
    color: darkslategrey;
    background-color: lightblue;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px; /* Add space between thead and tbody */
  }

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  .space { margin-top: 350px; }