
        <div class="dash-content">
            

              
                <div class="activity">
                    <div class="title">
                        <i class="uil uil-file-exclamation-alt"></i>
                        <span class="text">All the Insurance Company List</span>
                    </div>

                    <table class="table" id="zebra-h">
                        <thead>
                            <th>Sr No.</th>
                            <th>Id</th>
                            <th>Company Name</th>
                            <th>Email Id</th>
                            <th>Contact</th>
                            <th>Start Years</th>
                            <th>Action</th>
                       </thead>
                        <tr *ngFor="let company of insuranceCompanyList,index as i">
                            <td>{{i+1}}</td>
                            <td>{{company.companyId}}</td>
                            <td>{{company.companyName}}</td>
                            <td>{{company.companyEmail}}</td>
                            <td>{{company.companyContact}}</td>
                            <td>{{company.companyStartYears}}</td>
                            <td><button class="btn btn-danger " style="color: black;" (click)="deleteCompany(company.companyId)">Delete</button></td>


                        </tr>
                    </table>
                   
                </div>
            </div>
        



