.image-container {
    display: flex;
    margin-left: 50%;
    /* Adjust margin as needed */
}

.copyright {
    height: 50px;
    background-color: #87CEEB;
}

.text {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}